[user]
	email = brennwh@siue.edu
	name = Charlie Whittleman
	signingkey = 2818A83E6B0268F1
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
