[user]
	email = brennwh@siue.edu
	name = Charlie Whittleman
	signingkey = 2818A83E6B0268F1
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	adog = log --all --decorate --oneline --graph
