[submodule "secrets"]
	path = secrets
	url = git@github.com:LordHerdier/secrets.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nixos"]
	path = nixos
	url = git@github.com:LordHerdier/nixos-config.git
