# ignore any stray editor backups, OS cruft, secrets files, etc.
*~
.DS_Store
.stow-local-ignore
secrets.yml
emacs/.emacs.d/elpa/*
newsboat/.newsboat/cache.db
secrets
zsh/package.json
zsh/package-lock.json
